<html>
<head>
    <title>Lands of Revolution</title>
    <link rel="stylesheet" href="/style/main.css"/>
</head>
<body>
<nav role="navigation" class="navbar">
    <div style="float:right">
        {{#user.isLoggedIn}}
        Logged in as {{user.name}}
        {{/user.isLoggedIn}}
        {{^user.isLoggedIn}}
        <a style="display: inline-block;" href="/user/login">Login</a>
        {{/user.isLoggedIn}}
    </div>
    <div style="clear:both"></div>
</nav>
<div class="main-content">{{{body}}}</div>
</body>
</html>
